<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Registrar usuario</h2>
  <ion-item>  
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>  
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contrase&ntilde;a</ion-label>
    <ion-input [(ngModel)]="clave" type="password"></ion-input>
  </ion-item>
  <ion-button (click)="registrar()">Registrar</ion-button>
  <br>
  <a href="#" [routerLink]="['/login']">Ya tienes una cuenta</a>
</ion-content>
